#merge [{:telegram-bot/client
         {:token #env "CLIENT_BOT_TELEGRAM_TOKEN"}

         :quiz/admin? {:admin-chat-ids #custom/env-to-set "ADMIN_CHAT_IDS"}

         :quiz/telegram-send {:bot #ig/ref :telegram-bot/client}

         :quiz/user-main-chain {:db-execute! #ig/ref :db/execute!}

         :quiz/user-answer {:db-execute! #ig/ref :db/execute!
                            :user-main-chain #ig/ref :quiz/user-main-chain}

         :quiz/admin-commands {:db-execute! #ig/ref :db/execute!
                               :bot #ig/ref :telegram-bot/client
                               :admin? #ig/ref :quiz/admin?}

         :quiz/admin-answer {:admin-commands #ig/ref :quiz/admin-commands}

         :quiz/msg->answer {:user-answer #ig/ref :quiz/user-answer
                            :admin-answer #ig/ref :quiz/admin-answer
                            :telegram-send #ig/ref :quiz/telegram-send
                            :admin? #ig/ref :quiz/admin?}

         :telegram-bot/msg-handler
         {:msg->answer #ig/ref :quiz/msg->answer}

         :telegram-bot/run-client
         {:bot #ig/ref :telegram-bot/client
          :url #env "SELF_URL"
          :msg-handler #ig/ref :telegram-bot/msg-handler
          :long-polling-config {:timeout #or [#env "CLIENT_BOT_LONG_POLLING_TIMEOUT" 10]
                                :sleep #or [#env "CLIENT_BOT_LONG_POLLING_SLEEP" 1000]}}

         :db/execute!
         {:ds #ig/ref #profile {:default :db/ds
                                :test :test-utils/db-ds}}

         :http/handler #ig/ref :telegram-bot/msg-handler

         :http/server {:port #or [#env "HTTP_PORT" 8080]
                       :handler #ig/ref :http/handler}}

        #include #profile {:test "test_config.edn"
                           :default "default_config.edn"}]
